/*  your css code here. If applicable */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    perspective: 800px;
}

.cube-container {
    width: 200px;
    height: 200px;
    position: relative;
}

#cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(20deg);
    transition: transform 0.5s;
}

#cube:hover {
    transform: rotateX(-20deg) rotateY(200deg);
}

#cube .front,
#cube .back,
#cube .left,
#cube .right,
#cube .top,
#cube .bottom {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}

#cube .front div,
#cube .back div,
#cube .left div,
#cube .right div,
#cube .top div,
#cube .bottom div {
    flex: 1;
    border-top: 1px solid black;
}

#cube .front .line-1,
#cube .back .line-1,
#cube .left .line-1,
#cube .right .line-1,
#cube .top .line-1,
#cube .bottom .line-1 {
    border-top: none;
}

#cube .front { transform: translateZ(100px); }
#cube .back { transform: rotateY(180deg) translateZ(100px); }
#cube .left { transform: rotateY(-90deg) translateZ(100px); }
#cube .right { transform: rotateY(90deg) translateZ(100px); }
#cube .top { transform: rotateX(90deg) translateZ(100px); }
#cube .bottom { transform: rotateX(-90deg) translateZ(100px); }
