body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.cube-container {
    width: 200px;
    height: 200px;
    position: relative;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    box-sizing: content-box;
}

.cube .front,
.cube .back,
.cube .left,
.cube .right,
.cube .top,
.cube .bottom {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px solid black;
    box-sizing: border-box;
}

.cube .front div,
.cube .back div,
.cube .left div,
.cube .right div,
.cube .top div,
.cube .bottom div {
    width: 100%;
    height: 33.3333%;
    border: 1px solid black;
    box-sizing: border-box;
}

.cube .line-1 { top: 0; position: absolute; }
.cube .line-2 { top: 33.3333%; position: absolute; }
.cube .line-3 { top: 66.6666%; position: absolute; }

.cube .front  { transform: translateZ(100px); }
.cube .back   { transform: rotateY(180deg) translateZ(100px); }
.cube .left   { transform: rotateY(-90deg) translateZ(100px); }
.cube .right  { transform: rotateY(90deg) translateZ(100px); }
.cube .top    { transform: rotateX(90deg) translateZ(100px); }
.cube .bottom { transform: rotateX(-90deg) translateZ(100px); }
