body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.cube-container {
    perspective: 600px;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 50px auto;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(20deg);
    margin: auto;
}

.front, .back, .left, .right, .top, .bottom {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #f5f5f5;
    border: 1px solid #000;
    box-sizing: border-box;
}

.front { transform: translateZ(100px); }
.back { transform: rotateY(180deg) translateZ(100px); }
.left { transform: rotateY(-90deg) translateZ(100px); }
.right { transform: rotateY(90deg) translateZ(100px); }
.top { transform: rotateX(90deg) translateZ(100px); }
.bottom { transform: rotateX(-90deg) translateZ(100px); }

.line-1, .line-2, .line-3 {
    position: absolute;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.line-1 { top: 0px; height: 222.44444274902344px; }
.line-2 { top: 66.5938px; height: 222.44444274902344px; }
.line-3 { top: 133.195px; height: 222.44444274902344px; }
